APP_NAME=Intellectual Game Bot
DATABASE_URL=sqlite:///./game_v9.db
TELEGRAM_BOT_TOKEN=
ORGANIZER_TELEGRAM_ID=707309709
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
SECRET_KEY=replace-this-in-production
WEB_BASE_URL=http://127.0.0.1:8000
NGROK_AUTHTOKEN=
NGROK_API_URL=http://127.0.0.1:4040/api/tunnels
POSTGRES_PASSWORD=change-this-local-database-password
